.paragraph{
    /* color */
    color: green;
    background-color: black;

    /* font */
    font-size: 24px;

    /* width */
    width: 100%;
    max-width: 300px;
    

}
 div {
    /* color */
    background-color: red;

    /* width and height */
    width: 100%;
    max-width: 70vwpx;
    height: 70vh;
    
 
    /* fonts */
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    /* border */
    border-width: 4px;
    border-style: solid;
    border-color: green;
 }