.paragraph{
    /* color */
    color: green;
    background-color: black;

    /* font */
    font-size: 24px;

    /* width */
    width: 100%;
    max-width: 100vw;
    

}

 div {
    /* color */
    background-color: red;

    /* width and height */
    width: 100%;
    max-width: 70vw;
    
    
 
    /* fonts */
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    /* border */
    border: 4px solid blue;
 }

 #first-paragraph {
    color: green;
 }

 #last-paragraph {
    color: aqua;
 }

 .paragraph-1 {
    color: blue;
 }
p{
    color: darkslategrey;
}
.paragraph-box{
    color: #000;
}
.box{
    background-color: #fff;
    width: 200px;
    border: 4px solid green;
    box-sizing: border-box;
    padding: 24px;
    margin: 16px;
}
.parent{
height: 200px;
background-color: red;
position: sticky;
top: 0;
}
.child{
    width: 64px;
    height: 64px;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}
body{
    height: 150vh;
}
.title-m{
    font-size: 52px;
}
.paragraph-m{
    font-size: 24px;
}
@media (max-width: 640px) {
    .title-m{
        font-size: 36px;
    }
    .paragraph-m{
        font-size: 24px;
    }
}
@media (max-width: 480px) {
    .title-m{
        font-size: 32px;
    }
    .paragraph-m{
        font-size: 20px;
        border-radius: 5px solid black;
    }
}