button {
    transition: 300ms;
}
button:hover {
    opacity: 30%;
    background-color: red;
    padding: 4px;
}

p::before{
    content: "Hey my name is";
    background-color: green;
    margin: 8px;
}